body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
}
body {
	-epub-hyphens:auto;
}
div.Basic-Graphics-Frame {
	border-color:#000000;
	border-width:1px;
	border-style:solid;
}
div.Basic-Text-Frame {
	border-style:solid;
}
p.Basic-Paragraph {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.ParaOverride-1 {
	text-align:justify;
	text-align-last:center;
}
span.CharOverride-1 {
	font-size:30px;
}
span.CharOverride-2 {
	color:#ffffff;
}
span.CharOverride-3 {
	color:#666666;
	font-size:20px;
}
#_idContainer000 {
	display:inline-block;
	height:50px;
	position:relative;
	width:810px;
}
#_idContainer002 {
	display:inline-block;
	height:336px;
	width:754px;
}
#_idContainer004 {
	display:inline-block;
	height:221px;
	position:relative;
	width:615px;
}
div._idGenObjectStyleOverride-1 {
	background-color:#adcdec;
	border-width:0px;
}
div._idGenObjectStyleOverride-2 {
	border-width:0px;
}
div._idGenObjectStyleOverride-3 {
	background-color:#ededed;
	border-style:dashed;
}
div._idGenObjectStyleOverride-4 {
	background-color:#adcdec;
}
div._idGenObjectLayout-1 {
	text-align:center;
}
