

{% extends 'base.html'%}

{% block home %}
<!-- <div id="NemoHome">

	<h1>{ msg }</h1>
	
</div> -->

	<!-- THe top row of buttons, NEMO, How To Use, Contribute -->

	<div class="Basic-Text-Frame _idGenObjectStyleOverride-4">
		<button class="NEMOHomeButton" onclick="NEMOHomeButton()">NEMO</button>
		<button class="NEMOHomeButtonsTop" onclick="NEMOHowToButton()">How To Use</button>
		<button class="NEMOHomeButtonsTop" onclick="NEMOContributeButton()">Contribute</button>
	</div>
	<div class="ContributePadding">
		<p class="ContributeTxt">Contribute</p>
	</div>
	<!-- The paragraph explaining Nemo -->
	<div id="_homePadding">
		<p class="NemoContributePar">
            The Computer Science and Engineering Department (CSE) at the University of Nevada, Reno is looking for help
            with labelling data in varied atmospheric and low-light weather conditions to further improve the current
            working model. If you have images with pre-labeled data, please submit them below:
        </p>
	</div>
	<!-- Drop file box -->
	<div class="DropFileBoxContainer">
		<div id="dropzoneContribute" class="DropZoneImages">
			<p class="NemoHomeDropFilesHereContribute" lang="en-US"><span class="CharOverride-3" lang="">Drop Files Here</span></p>
		</div>
	</div>
	<!-- The bottom four options/buttons of Upload files, clear, run nemo, run example -->
	<div class="_idGenObjectLayout-1">
		<button class="homeFourButtonsBottom" onclick="submitContribute()">Submit</button>
		<button class="homeFourButtonsBottom" onclick="removeImagesContribute()">Clear</button>
	</div>

	<div id="contributeModal" class="modalContribute">

		<!-- Modal content -->
		<div class="modal-contentContribute" id="contributesImgArea">
		  <span class="closeModalContribute">&times;</span>
		  <p class="ContributesHeader">Thank You for Your Contribution</p>
		</div>
	  
	  </div>

{% endblock %}
