

{% extends 'base.html'%}

{% block home %}
	<body id="Contribute" lang="en-US">
		<div class="_idGenObjectLayout-1">
			<div id="_idContainer000" class="Basic-Graphics-Frame _idGenObjectStyleOverride-1">
			</div>
		</div>
		<div id="_idContainer001" class="Basic-Text-Frame">
			<p class="Basic-Paragraph" lang="en-US"><span class="CharOverride-1" lang="">NEMO</span></p>
		</div>
		<div class="_idGenObjectLayout-1">
			<div id="_idContainer002" class="Basic-Graphics-Frame _idGenObjectStyleOverride-2">
			</div>
		</div>
		<div id="_idContainer003" class="Basic-Text-Frame">
			<p class="Basic-Paragraph ParaOverride-1" lang="en-US">The Nemo wildfire smoke detection benchmark is a set of evolving preprocessed datasets in standard COCO format and pretrained wildfire smoke detectors based on Facebook AI’s DETR that aims to detect wildfire in incipient stage (especially the first few minutes from start of wildfire). This model is created for object detection. It has a CNN backbone along with encoder-decoder transformers. It also uses bipartite matching loss function.</p>
		</div>
		<div class="_idGenObjectLayout-1">
			<div id="_idContainer004" class="Basic-Graphics-Frame _idGenObjectStyleOverride-3">
			</div>
		</div>
		<div id="_idContainer005" class="Basic-Text-Frame _idGenObjectStyleOverride-4">
			<p class="Basic-Paragraph ParaOverride-1" lang="en-US"><span class="CharOverride-2" lang="">Upload Files</span></p>
		</div>
		<div id="_idContainer006" class="Basic-Text-Frame _idGenObjectStyleOverride-4">
			<p class="Basic-Paragraph ParaOverride-1" lang="en-US"><span class="CharOverride-2" lang="">Clear</span></p>
		</div>
		<div id="_idContainer007" class="Basic-Text-Frame">
			<p class="Basic-Paragraph" lang="en-US"><span class="CharOverride-3" lang="">Drop Files Here</span></p>
		</div>
		<div id="_idContainer008" class="Basic-Text-Frame _idGenObjectStyleOverride-4">
			<p class="Basic-Paragraph ParaOverride-1" lang="en-US"><span class="CharOverride-2" lang="">Run Nemo</span></p>
		</div>
		<div id="_idContainer009" class="Basic-Text-Frame">
			<p class="Basic-Paragraph" lang="en-US">How to Use&#9;&#9;Contribute&#9;</p>
		</div>
		<div id="_idContainer010" class="Basic-Text-Frame _idGenObjectStyleOverride-4">
			<p class="Basic-Paragraph ParaOverride-1" lang="en-US"><span class="CharOverride-2" lang="">Run Example</span></p>
		</div>
	</body>

{% endblock %}
