

{% extends 'base.html'%}

{% block home %}
<!-- <div id="NemoHome">

	<h1>{ msg }</h1>
	
</div> -->

	<div class="Basic-Text-Frame _idGenObjectStyleOverride-4">
		<button class="NEMOHomeButton">NEMO</button>
		<div class="homeTopButtonsContainer">
		<button class="NEMOHomeButtonsTop">How To Use</button>
		<button class="NEMOHomeButtonsTop">Contribute</button>
		</div>
	</div>
	<!-- <div class="_idGenObjectLayout-1">
		<div id="_idContainer002" class="Basic-Graphics-Frame _idGenObjectStyleOverride-2">
		</div>
	</div> -->
	<!-- <div id="_idContainer003" class="Basic-Text-Frame"> -->
	<div id="_homePadding" style="font-size:18px">
		<p class="NemoHomePar">Nemo wildfire smoke detection benchmark is 
		a set of evolving preprocessed datasets in standard COCO format and pretrained wildfire 
		smoke detectors based on Facebook AI’s DETR that aims to detect wildfire in incipient 
		stage (especially the first few minutes from start of wildfire). This model is created 
		for object detection. It has a CNN backbone along with encoder-decoder transformers. It 
		also uses bipartite matching loss function.</p>
	</div>
		<div id="_idContainer0014">
			<p class="NemoHomeDropFilesHereTxt" lang="en-US"><span class="CharOverride-3" lang="">Drop Files Here</span></p>
	</div>
	<!-- <div id="_idContainer005" class="Basic-Text-Frame _idGenObjectStyleOverride-4">
		<p class="NemoHomeFourChoicesTxt" lang="en-US"><span class="CharOverride-2" lang="">Upload Files</span></p>
		<p class="NemoHomeFourChoicesTxt" lang="en-US"><span class="CharOverride-2" lang="">Clear</span></p>
	</div> -->
	<div class="_idGenObjectLayout-1">
		<button class="homeFourButtonsBottom">Upload Files</button>
		<button class="homeFourButtonsBottom">Clear</button>
		<button class="homeFourButtonsBottom">Run Nemo</button>
		<button class="homeFourButtonsBottom">Run Example</button>
	</div>
{% endblock %}
