

{% extends 'base.html'%}

{% block home %}
<!-- <div id="NemoHome">

	<h1>{ msg }</h1>
	
</div> -->

	<!-- THe top row of buttons, NEMO, How To Use, Contribute -->

	<div class="Basic-Text-Frame _idGenObjectStyleOverride-4">
		<button class="NEMOHomeButton" onclick="NEMOHomeButton()">NEMO</button>
		<button class="NEMOHomeButtonsTop" onclick="NEMOHowToButton()">How To Use</button>
		<button class="NEMOHomeButtonsTop" onclick="NEMOContributeButton()">Contribute</button>
	</div>
	<!-- The paragraph explaining Nemo -->
	<div id="_homePadding">
		<p class="NemoHomePar">Nemo wildfire smoke detection benchmark is 
		a set of evolving preprocessed datasets in standard COCO format and pretrained wildfire 
		smoke detectors based on Facebook AI’s DETR that aims to detect wildfire in incipient 
		stage (especially the first few minutes from start of wildfire). This model is created 
		for object detection. It has a CNN backbone along with encoder-decoder transformers. It 
		also uses bipartite matching loss function.</p>
	<!-- Drop file box -->
	</div>
	<div class="DropFileBoxContainer">
		<div id="dropzoneHome" class="DropZoneImages">
			<p class="NemoHomeDropFilesHereHome" lang="en-US"><span class="CharOverride-3" lang="">Drop Files Here</span></p>
		</div>
	</div>
	<!-- The bottom four options/buttons of Upload files, clear, run nemo, run example -->
	<div class="_idGenObjectLayout-1">
		<button class="homeFourButtonsBottom" onclick="removeImagesHome()">Clear</button>
		<button class="homeFourButtonsBottom" onclick="runNemo()">Run Nemo</button>
		<button class="homeFourButtonsBottom" onclick="runExample()">Run Example</button>
	</div>

	<div id="resultModal" class="modalResult">

		<!-- Modal content -->
		<div class="modal-contentResult" id="resultsImgArea">
		  <span class="closeModalResult">&times;</span>
		  <p class="ResultsHeader">Results</p>
		</div>
	  
	  </div>

{% endblock %}
