

{% extends 'base.html'%}

{% block home %}
<!-- <div id="NemoHome">

	<h1>{ msg }</h1>
	
</div> -->

	<!-- THe top row of buttons, NEMO, How To Use, Contribute -->

	<div class="Basic-Text-Frame _idGenObjectStyleOverride-4">
		<a href="/"><button class="NEMOHomeButton">NEMO</button></a>
		<a href="HowTo" ><button class="NEMOHomeButtonsTop">How To Use</button></a>
		<a href="Contribute" ><button class="NEMOHomeButtonsTop">Contribute</button></a>
	</div>
	<div class="HowToPadding">
		<p class="HowToTxt">How To Use the Nemo Interface</p>
	</div>
	<!-- The paragraph explaining Nemo -->
	<div id="_homePadding">
		<p class="NemoContributePar">
            <b>Step 1: </b><br>
                Choose between uploading your own images and using a pre-determined set of images <br>
            <b>Step 2: </b><br>
                If you uploaded your own images, press "Run Nemo". If you want to use a pre-determined set, press "Run Example" <br>
            <b>Step 3: </b><br>
                Wait patiently for NEMOs response, and view the results! *note, possibly add images/videos of nemo page in use*</p>
	</div>
	<!-- Drop file box -->
	<!-- <div id="DropFileBoxContainer">
		<p class="NemoHomeDropFilesHereContribute" lang="en-US"><span class="CharOverride-3" lang="">Drop Files Here</span></p>
	</div> -->
	<!-- The bottom four options/buttons of Upload files, clear, run nemo, run example -->
	<!-- <div class="_idGenObjectLayout-1">
		<button class="homeFourButtonsBottom">Submit</button>
		<button class="homeFourButtonsBottom">Clear</button>
	</div> -->
{% endblock %}
